<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="{{ url_for('static', path='js/javascript.js') }}"></script>
    <title>Filmografía de David Fincher</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Filmografía de David Fincher</h1>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="http://127.0.0.1:8000">Página principal</a></li>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobre">Sobre David Fincher</a></li>
                <li><a href="#filmografia">Filmografía</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div id="inicio" class="container">
            <section>
                <h2>Bienvenido</h2>
                <p>¡Bienvenido a la página dedicada a la filmografía de David Fincher! Aquí encontrarás información detallada sobre sus películas más destacadas.</p>
            </section>
        </div>
        <div id="sobre" class="container">
            <section>
                <h2>Sobre David Fincher</h2>
                <p>David Fincher es un aclamado director, productor y guionista de cine y televisión nacido en 1962 en Denver, Colorado, Estados Unidos. Es conocido por su estilo visual distintivo y su narrativa intensa. Comenzó su carrera dirigiendo videos musicales y comerciales antes de hacer su debut en el cine con la película <em>Alien 3</em> en 1992.</p>
            </section>
        </div>
        <div id="filmografia" class="container">
            <section>
                <h2>Filmografía</h2>
                <ul class="filmografia-lista">
                    <li>
                        <img src="{{ url_for('static', path='img/SEVEN.jpg') }}" alt="Seven">
                        <div class="film-info">
                            <h3>Seven (1995)</h3>
                            <p>Un detective veterano y su nuevo compañero se enfrentan a un asesino en serie que utiliza los siete pecados capitales como su modus operandi.</p>
                            <p><strong>Reparto:</strong> Brad Pitt, Morgan Freeman, Kevin Spacey</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/EL CLUB DE LA LUCHA.jpg') }}" alt="El Club de la Lucha">
                        <div class="film-info">
                            <h3>El Club de la Lucha (1999)</h3>
                            <p>Un hombre descontento con su vida mundana forma un club de lucha clandestino que evoluciona hacia algo mucho más grande.</p>
                            <p><strong>Reparto:</strong> Brad Pitt, Edward Norton, Helena Bonham Carter</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/ZODIAC.jpg') }}" alt="Zodiac">
                        <div class="film-info">
                            <h3>Zodiac (2007)</h3>
                            <p>Un caricaturista y un reportero se unen para investigar una serie de asesinatos del Zodiaco en el área de la Bahía de San Francisco en los años 60 y 70.</p>
                            <p><strong>Reparto:</strong> Jake Gyllenhaal, Mark Ruffalo, Robert Downey Jr.</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/THE SOCIAL NETWORK.jpg') }}" alt="La Red Social">
                        <div class="film-info">
                            <h3>La Red Social (2010)</h3>
                            <p>La historia del fundador de Facebook, Mark Zuckerberg, y cómo creó una de las redes sociales más influyentes del mundo mientras enfrentaba demandas legales y conflictos personales.</p>
                            <p><strong>Reparto:</strong> Jesse Eisenberg, Andrew Garfield, Justin Timberlake</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/GONE GIRL.jpg') }}" alt="Perdida">
                        <div class="film-info">
                            <h3>Perdida (2014)</h3>
                            <p>Después de que su esposa desaparece misteriosamente, un hombre se convierte en el principal sospechoso en medio de la atención de los medios y la creciente presión de la policía.</p>
                            <p><strong>Reparto:</strong> Ben Affleck, Rosamund Pike, Neil Patrick Harris</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/MANK.jpg') }}" alt="Mank">
                        <div class="film-info">
                            <h3>Mank (2020)</h3>
                            <p>La historia de Herman J. Mankiewicz, guionista de "Citizen Kane", y su tumultuosa relación con el director y estrella de la película, Orson Welles.</p>
                            <p><strong>Reparto:</strong> Gary Oldman, Amanda Seyfried, Lily Collins</p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <div id="autor" class="container">
            <button onclick="mostrarAutor()">Mostrar Autor</button>
        </div>
        
        <div id="contacto" class="container">
            <section>
                <h2>Contacto</h2>
                <p>Puedes contactarnos para más información o comentarios sobre esta página:</p>
                <form action="#" method="POST">
                    <label for="nombre">Nombre:</label><br>
                    <input type="text" id="nombre" name="nombre" required><br>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br>
                    <label for="mensaje">Mensaje:</label><br>
                    <textarea id="mensaje" name="mensaje" rows="4" required></textarea><br>
                    <input type="submit" value="Enviar">
                </form>
            </section>
        </div>
    </main>
    <footer>
        <div class="copy">
            <p>
                2025 Filmografía de David Fincher
            </p>
        </div>
    </footer>
</body>
</html>