<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="{{ url_for('static', path='js/javascript.js') }}"></script>
    <title>Filmografía de Steven Spielberg</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Filmografía de Steven Spielberg</h1>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="http://127.0.0.1:8000">Página principal</a></li>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobre">Sobre Steven Spielberg</a></li>
                <li><a href="#filmografia">Filmografía</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div id="inicio" class="container">
            <section>
                <h2>Bienvenido</h2>
                <p>¡Bienvenido a la página dedicada a la filmografía de Steven Spielberg! Aquí encontrarás información detallada sobre sus películas más destacadas.</p>
            </section>
        </div>
        <div id="sobre" class="container">
            <section>
                <h2>Sobre Steven Spielberg</h2>
                <p>Steven Spielberg es uno de los cineastas más influyentes y reconocidos de la historia del cine. Nacido en 1946, ha dirigido algunas de las películas más icónicas de la industria, como <em>Jurassic Park</em>, <em>La lista de Schindler</em>, y <em>Salvar al Soldado Ryan</em>.</p>
            </section>
        </div>
        <div id="filmografia" class="container">
            <section>
                <h2>Filmografía</h2>
                <ul class="filmografia-lista">
                    <li>
                        <img src="{{ url_for('static', path='img/JURASSIC PARK.jpg') }}" alt="Jurassic Park">
                        <div class="film-info">
                            <h3>Jurassic Park (1993)</h3>
                            <p>Un parque de dinosaurios revive a las criaturas prehistóricas, pero la situación se sale de control cuando los animales se escapan.</p>
                            <p><strong>Reparto:</strong> Sam Neill, Laura Dern, Jeff Goldblum</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/LA LISTA DE SCHINDLER.jpg') }}" alt="La lista de Schindler">
                        <div class="film-info">
                            <h3>La lista de Schindler (1993)</h3>
                            <p>Basada en hechos reales, cuenta la historia de Oskar Schindler, quien salvó a más de mil judíos durante el Holocausto.</p>
                            <p><strong>Reparto:</strong> Liam Neeson, Ben Kingsley, Ralph Fiennes</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/SALVAR AL SOLDADO RYAN.jpg') }}" alt="Salvar al Soldado Ryan">
                        <div class="film-info">
                            <h3>Salvar al Soldado Ryan (1998)</h3>
                            <p>Un grupo de soldados es enviado a Francia para encontrar y traer de vuelta a un paracaidista cuya familia ha perdido a todos sus hermanos en combate.</p>
                            <p><strong>Reparto:</strong> Tom Hanks, Matt Damon, Tom Sizemore</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/INDIANA JONES.jpg') }}" alt="Indiana Jones">
                        <div class="film-info">
                            <h3>Indiana Jones: En busca del arca perdida (1981)</h3>
                            <p>El arqueólogo y aventurero Indiana Jones se embarca en una misión para encontrar el Arca de la Alianza, mientras enfrenta a los nazis.</p>
                            <p><strong>Reparto:</strong> Harrison Ford, Karen Allen, Paul Freeman</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/E.T. EL EXTRATERRESTRE.jpg') }}" alt="E.T. El Extraterrestre">
                        <div class="film-info">
                            <h3>E.T. El Extraterrestre (1982)</h3>
                            <p>Un niño hace amistad con un extraterrestre que accidentalmente ha quedado varado en la Tierra, y juntos tratan de ayudarlo a regresar a su planeta.</p>
                            <p><strong>Reparto:</strong> Henry Thomas, Drew Barrymore, Peter Coyote</p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <div id="autor" class="container">
            <button onclick="mostrarAutor()">Mostrar Autor</button>
        </div>
        
        <div id="contacto" class="container">
            <section>
                <h2>Contacto</h2>
                <p>Puedes contactarnos para más información o comentarios sobre esta página:</p>
                <form action="#" method="POST">
                    <label for="nombre">Nombre:</label><br>
                    <input type="text" id="nombre" name="nombre" required><br>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br>
                    <label for="mensaje">Mensaje:</label><br>
                    <textarea id="mensaje" name="mensaje" rows="4" required></textarea><br>
                    <input type="submit" value="Enviar">
                </form>
            </section>
        </div>
    </main>
    <footer>
        <div class="copy">
            <p>
                2025 Filmografía de Steven Spielberg
            </p>
        </div>
    </footer>
</body>
</html>