<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="{{ url_for('static', path='js/javascript.js') }}"></script>
    <title>Filmografía de Tarantino</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Filmografía de Tarantino</h1>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="http://127.0.0.1:8000">Página principal</a></li>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobre">Sobre Tarantino</a></li>
                <li><a href="#filmografia">Filmografía</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div id="inicio" class="container">
            <section>
                <h2>Bienvenido</h2>
                <p>¡Bienvenido a la página dedicada a la filmografía de Tarantino! Aquí encontrarás información detallada sobre sus películas más destacadas.</p>
            </section>
        </div>
        <div id="sobre" class="container">
            <section>
                <h2>Sobre Tarantino</h2>
                <p>Quentin Tarantino es un director, guionista y actor estadounidense nacido en 1963. Conocido por su estilo único, mezcla géneros cinematográficos y reinventa las narrativas convencionales. Desde su debut con <em>Reservoir Dogs</em>, Tarantino ha marcado un antes y un después en la historia del cine.</p>
            </section>
        </div>
        <div id="filmografia" class="container">
            <section>
                <h2>Filmografía</h2>
                <ul class="filmografia-lista">
                    <li>
                        <img src="{{ url_for('static', path='img/RESERVOIR DOGS.jpg') }}" alt="Reservoir Dogs">
                        <div class="film-info">
                            <h3>Reservoir Dogs (1992)</h3>
                            <p>Un grupo de criminales intenta llevar a cabo el robo perfecto, pero las cosas no salen según lo planeado.</p>
                            <p><strong>Reparto:</strong> Harvey Keitel, Tim Roth, Michael Madsen</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/PULP FICTION.jpg') }}" alt="Pulp Fiction">
                        <div class="film-info">
                            <h3>Pulp Fiction (1994)</h3>
                            <p>Historias entrelazadas de crimen, redención y destino en el submundo de Los Ángeles.</p>
                            <p><strong>Reparto:</strong> John Travolta, Uma Thurman, Samuel L. Jackson</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/KILL BILL.jpg') }}" alt="Kill Bill: Volumen 1">
                        <div class="film-info">
                            <h3>Kill Bill: Volumen 1 (2003)</h3>
                            <p>La Novia comienza su sangrienta búsqueda de venganza contra quienes la traicionaron.</p>
                            <p><strong>Reparto:</strong> Uma Thurman, Lucy Liu, Vivica A. Fox</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/INGLOURIOUS BASTERDS.jpg') }}" alt="Bastardos sin gloria">
                        <div class="film-info">
                            <h3>Bastardos sin gloria (2009)</h3>
                            <p>Un grupo de soldados judíos planea acabar con los nazis en la Francia ocupada durante la Segunda Guerra Mundial.</p>
                            <p><strong>Reparto:</strong> Brad Pitt, Christoph Waltz, Mélanie Laurent</p>
                    </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/ONCE UPON A TIME IN HOLLYWOOD.jpg') }}" alt="Había una vez en Hollywood">
                        <div class="film-info">
                            <h3>Había una vez en Hollywood (2019)</h3>
                            <p>Un actor en declive y su doble de riesgo intentan adaptarse a los cambios de la industria del cine en 1969.</p>
                            <p><strong>Reparto:</strong> Leonardo DiCaprio, Brad Pitt, Margot Robbie</p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <div id="autor" class="container">
            <button onclick="mostrarAutor()">Mostrar Autor</button>
        </div>
        
        <div id="contacto" class="container">
            <section>
                <h2>Contacto</h2>
                <p>Puedes contactarnos para más información o comentarios sobre esta página:</p>
                <form action="#" method="POST">
                    <label for="nombre">Nombre:</label><br>
                    <input type="text" id="nombre" name="nombre" required><br>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br>
                    <label for="mensaje">Mensaje:</label><br>
                    <textarea id="mensaje" name="mensaje" rows="4" required></textarea><br>
                    <input type="submit" value="Enviar">
                </form>
            </section>
        </div>
    </main>
    <footer>
        <div class="copy">
            <p>
                2025 Filmografía de Tarantino
            </p>
        </div>
    </footer>
</body>
</html>